<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emulators.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Emulators.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="WiiEmu" serializeAs="String">
                <value />
            </setting>
            <setting name="GameCubeEmu" serializeAs="String">
                <value />
            </setting>
            <setting name="SnesEmu" serializeAs="String">
                <value />
            </setting>
            <setting name="NesEmu" serializeAs="String">
                <value />
            </setting>
            <setting name="N64Emu" serializeAs="String">
                <value />
            </setting>
            <setting name="GameboyEmu" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WiiUEmu" serializeAs="String">
                <value />
            </setting>
        </Emulators.Properties.Settings>
    </userSettings>
</configuration>